    /* ------- Page Images ------- */

    /* ------- Specialized ------- */
    .project-img-specialized,
    .specialized-intro-bg {
        background: url('../img/projectImg/specialized/specializedHeaderBG.jpg');
    }

    .specialized-mock1-bg {
        background: url('../img/projectImg/specialized/moch1-specialized.jpg');
    }

    .specialized-mock2-bg {
        background: url('../img/projectImg/specialized/iphoneMockUp-specialized.png');
    }


    /* ------- Legacy ------- */
    .project-img-legacy,
    .legacy-intro-bg {
        background: url('../img/projectImg/legacy/LegacyBannerIntroBG.jpg');
    }

    .legacy-mock1-bg {
        background: url('../img/projectImg/legacy/Legacy-Mockup1.jpg');
    }

    .legacy-mock2-bg {
        background: url('../img/projectImg/legacy/Legacy-Mockup2.jpg');
    }





    /* ------- PrecNext Project Images ------- */
    .project-prevNext-specialized {
        background: url('../img/projectImg/specialized/specializedHeaderBG.jpg');
    }

    .project-prevNext-legacy {
        background: url('../img/projectImg/legacy/LegacyBannerIntroBG.jpg');
    }