/* intro Section */
.specialized-intro-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
    .specialized-intro-bg {
        background-position: right;
    }
}


/* mockUp 1 & 2 */
.specialized-mock1-bg,
.specialized-mock2-bg {
    background-repeat: no-repeat;
}

.specialized-mock1-bg {
    background-position: 50%;
    background-size: cover;

}

.specialized-mock2-bg {
    background-position: center;
    background-size: contain;

}