:root {
    --font-primary: 'Montserrat', sans-serif;
    --clr-black: #141414;
    --clr-white: #f0f0f0;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: var(--font-primary);
    color: #f0f0f0;
    background-color: #141414;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.intro-window {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    TODO: TEMP;
    /* display: none; */
}

.intro-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}


.upperCase {
    text-transform: uppercase;
}

.introSlide {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #f0f0f0;
    top: 0;
    bottom: 0;
    z-index: 100;
    transition: all 1500ms cubic-bezier(1, -0.01, 0.08, 0.89);
}


.introSlideLeft {
    left: -100%;
}

.introSlideRight {
    right: -100%;
}

.leftShow {
    left: 0;
}

.rightShow {
    right: 0;
}

.displayNone {
    display: none;
}

/* MAIN CONTENT START FROM HERE */
.content {
    width: 100%;
    max-width: 1902px;
    height: 100%;
    position: relative;
    background-color: transparent;
    opacity: 0;
}

.opacityShow {
    opacity: 1;
}

.portfolio-logo {
    height: 120px;
    position: fixed;
    top: 0;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: all .6s;
}



/* Logo and menu Icon */
.logo-img {
    width: 60px;
    height: 60px;
}

.menu-icon {
    width: 50px;
    height: 120px;
    position: fixed;
    top: 0;
    right: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 500;
    transition: all .6s ease-in-out;
}

.menu-icon-wrap {
    width: 50px;
    height: 12px;
    position: relative;
    cursor: pointer;
}

.menu-icon-bar {
    width: 100%;
    height: 2px;
    background-color: #f0f0f0;
    position: absolute;
    transition: all;
}

.menu-icon-bar1 {
    top: 0;
}

.menu-icon-bar2 {
    top: 100%;
}